.cartForm {
    text-align: center;
}

.cartForm input {
    width: 45px;
    margin-right: 5px;
    border: 1px solid #EB9609;
    padding: 5px;
    font-weight: 700;
}

.cartForm button {
    margin-left: 5px;
    background-color: #EB9609;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.cartForm button:hover .cart,
.cartForm button:hover {
    transition: 0.3s ease-in-out;
    color: #fff;

}