.body {
    width: 100%;
    height: 350px;
}

.bodyImg {
    height: 350px;
}

.bodyContent {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    background: rgba(65, 73, 119, 0.5);
    color: white;
    padding: 30px;
    border-radius: 20px 20px 0 0;
    text-align: center;
}