.CartButton {
    position: absolute;
    top: 100px;
    right: 20px;

    background-color: rgb(78, 9, 55);
    color: #fff;
    border-radius: 35px;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.CartButton:hover {
    transform: translateY(-5px);
}

.cartNumber {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: transparent;
    border-radius: 100%;
    background-color: antiquewhite;
    color: rgb(78, 9, 55);
}